// Complementary Colors
$main-color:              #6d2e3f;
$secondary-color:         #FFFFFF;
$main-text-color:         #3E5869;
$secondary-text-color:    #B0C7d6;
$send-message-form:       #F5F5F5;
$dark-blue:               #3E5869;