@import "../variables";

.send-message-form {
  background: $send-message-form;
  display: flex;
  height: 60px;
}

.send-message-form input {
  width: 100%;
  padding: 15px 10px;
  border: none;
  margin: 0;
  background: $send-message-form;
  font-weight: 200;
}

.send-message-form input:focus {
  outline-width: 0;
}
